* {
  margin: 0%;
  box-sizing: border-box;
}
#root {
  height: 110vh;
  width: auto;
}
.app {
  height: inherit;
  display: flex;
  justify-content: center;
}
body {
  background-color: #f5f7fb;
  min-height: 100vh;
  width: auto;
}
